<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form method="POST" >
     {%  csrf_token %}
     {{ form.non_field_errors }}
     {% if form.errors %}
            <h5>Ha ocurrido un error al guardar el registro!!!</h5>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li> {{ error }} </li>
                    {% endfor %}
                {% endfor %}
            </ul>
      {% endif %}
     {{ form.as_p }}
    <br>
    <button type="submit">Crear Usuario</button>
    <br>
 </form>
<br>
<a href="{% url 'logout' %}">Cerrar Sesión</a>
</body>
</html>