<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ELIMINAR????</h1>
<p>Estas seguro de eliminar el siguiente registro?</p>
<table>
     <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>apellido Materno</th>
        </tr>
     </thead>
    <tbody>
        <tr>
            <td>{{ object.nombre }}</td>
            <td>{{ object.a_paterno }}</td>
            <td>{{ object.a_Materno }}</td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <form method="POST">
                {%  csrf_token %}
                <td><button type = "submit">Sí, Acepto</button></td>
                <td><a href="{% url 'listado_1' %}">Cancelar</a></td>
            </form>
        </tr>
    </tbody>
</table>


</body>
</html>