<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>apellido Materno</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Fecha De Nacimiento</th>
        </tr>
        </thead>
        <tbody>

        {% for c in users %}
        <tr>
            <td>{{ c.nombre }}</td>
            <td>{{ c.a_paterno }}</td>
            <td>{{ c.a_Materno }}</td>
            <td>{{ c.edad }}</td>
            <td>{{ c.sexo }}</td>
            <td>{{ c.fecha_nacimiento }}</td>
            <td><a href="{% url 'editar' c.id %}">Editar</a></td>
            <td><a href="{% url 'eliminar' c.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <td><a href="{% url 'crear' %}">Cear Usuario</a></td>
            <td>     </td>
            <td> <a href="{% url 'logout' %}">Cerrar Sesión</a></td>
        </tr>
    </table>

    <br>
</body>
</html>
