{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" type="text/css" href = "{% static './styles.css' %}"> -->
    <link rel="stylesheet" href = "{% static './bootstrap/css/bootstrap.min.css' %}">
    
</head>
<body class = "m-0 vh-100 row justify-content-center align-items-center bg-light">
    <div class = "col-auto bg-primary p-5 text-center rounded-3 shadow-lg">
        <h1 class = "text-light sesion">INICIO DE SESIÓN</h1>
            <form class = "" method="POST" >
                {% csrf_token %}
                {% if form.errors %}
                    <h5>Ha ocurrido un error al guardar el registro!!!</h5>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li> {{ error }} </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                <table>
                    <tr>
                        <td><label class="form-label text-light">Usuario: </label></td>
                        <td class="form-label" >{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td><label class="form-label text-light">Contraseña: </label></td>
                        <td> {{ form.password }}</td>
                    </tr>
                </table>
                <div class = "row">
                    <button class="btn btn-success mt-3" type="submit">Iniciar Sesión</button>
                </div>
                <div class = "row">
                    <a class = "mt-3 text-light" href="{% url 'Crear' %}">Registrarme</a>
                </div>
                
            </form>
    </div>


    <script type="text/javascript" src="{% static './jquery/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static './bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>