<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Usuario: {{username}}</h1>
   

    
        {% for almacen in almacenes %}
            <p>Nombre de almacen: {{almacen.nombre}}</p>
            <ul>
                {% for key, valor in nombre_productos.items %}
                    {% if almacen.id == key %}
                        {% for producto in valor %}
                            <ul>
                                <li>{{producto}}</li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>

	    {% endfor %}
    
    
    <a href="{% url 'Logout' %}">Cerrar Sesión</a>







       

</body>
</html>
