{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href = "{% static './bootstrap/css/bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/9a2b698299.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="row justify-content-between content-fluid bg-primary">
        <h1 class="col-1 m-1 mx-3 text-light p-2 fs-5 ">Home</h1>
        <p class="col-1  text-end p-2 mb-0 me-3 fs-5"><a class = "btn btn-primary text-light" href="{% url 'Logout' %}"><i title="Cerrar Sesión" class="fa-solid fa-power-off"></i></a>
    </header>
    <h1 class = "fs-5 m-3">Bienvenido {{username}}</h1>
   

    
        {% for key,valor in d.items %}
            <div class = "rounded-3 row text-center justify-content-center bg-primary me-3 ms-3">
                <p class = "fs-6 col-6 text-start text-light mb-0 pt-3">Nombre de almacen: {{key.nombre}}</p>
                <p class = "fs-6 col-6 mb-0 text-end  px-4 py-2"><a class = "btn btn-primary text-light" href="{% url 'Eliminar_Almacen' key.id %}">Eliminar Almacén <i title="Eliminar Almacen" class="fa-solid fa-trash-can"></i></a></p>
            </div>
            <table class = "table text-center ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Producto</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Unidades</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                        <th><a title="Agregar Producto" class = "btn btn-success" href= "{% url 'Crear_Producto' key.id %}"> Agregar Producto <i class="fa-solid fa-plus"></i></a>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in valor %}
                        {% if key.id == producto.Almacen_id %}
                        <tr>
                            <td></td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.costo}}</td>
                            <td>{{producto.unidades}}</td>
                            <td>{{producto.descripcion}}</td>
                            <td><a class = "m-0 btn btn-success fs-4" href=""><i class="fa-solid fa-square-plus"></i></a><a class = "ms-2 btn btn-danger fs-4" href="">  <i class="fa-solid fa-square-minus"></i></a></td>
                        </tr>
                        {% endif %}   
                    {% endfor %}
                    <tr class="table-danger">
                        <td>Total</td>
                        <td></td>
                        <td><i class="fa-solid fa-dollar-sign"></i>
                            {% for llave,value in precio.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td><i class="fa-solid fa-dollar-sign"></i>
                            {% for llave,value in costo.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td><i class="fa-solid fa-equals"></i> 
                            {% for llave,value in unidades.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>    


	    {% endfor %}
    
    
    
    <a class = "ms-3 btn btn-warning" href="{% url 'Crear_Almacen' %}">Agregar Almacén <i class="fa-solid fa-plus"></i></a>
    








       

    <script type="text/javascript" src="{% static './jquery/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static './bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
