{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href = "{% static './bootstrap/css/bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/9a2b698299.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="row justify-content-between content-fluid bg-primary">
        <h1 class="col-1 m-1 mx-3 text-light p-2 fs-5 ">Home</h1>
        <a class="col-1 text-light text-end p-2  me-3 fs-5" href="{% url 'Logout' %}"><i class="fa-solid fa-power-off"></i></a>
    </header>
    <h1>Usuario: {{username}}</h1>
   

    
        {% for key,valor in d.items %}
            <p>Nombre de almacen: {{key.nombre}} <a href="{% url 'Eliminar_Almacen' key.id %}">Eliminar Almacén</a></p>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Producto</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Unidades</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                        <th><a href="{% url 'Crear_Producto' key.id %}">Agregar Producto</a>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in valor %}
                        {% if key.id == producto.Almacen_id %}
                        <tr>
                            <td></td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.costo}}</td>
                            <td>{{producto.unidades}}</td>
                            <td>{{producto.descripcion}}</td>
                            <td><a href="">Agregar Unidades</a><a href="">Quitar Unidades</a></td>
                        </tr>
                        {% endif %}   
                    {% endfor %}
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>$$
                            {% for llave,value in precio.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td>$$
                            {% for llave,value in costo.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td>Unidades: 
                            {% for llave,value in unidades.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td></td>

                    </tr>
                </tbody>
            </table>    


	    {% endfor %}
    
    
    
    <a href="{% url 'Crear_Almacen' %}">Agregar Almacén</a>
    








       

    <script type="text/javascript" src="{% static './jquery/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static './bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
