<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Usuario: {{username}}</h1>
   

    
        {% for key,valor in d.items %}
            <p>Nombre de almacen: {{key.nombre}} <a href="{% url 'Eliminar_Almacen' key.id %}">Eliminar Almacén</a></p>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Producto</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Unidades</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in valor %}
                        {% if key.id == producto.Almacen_id %}
                        <tr>
                            <td></td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.costo}}</td>
                            <td>{{producto.unidades}}</td>
                            <td>{{producto.descripcion}}</td>
                            <td><a href="">Agregar Unidades</a><a href="">Quitar Unidades</a></td>
                        </tr>
                        {% endif %}   
                    {% endfor %}
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>$$
                            {% for llave,value in precio.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td>$$
                            {% for llave,value in costo.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td>Unidades: 
                            {% for llave,value in unidades.items %}
                                {% if llave.id ==  key.id%}
                                    {{value}}
                                {% endif %}   
                            {% endfor %}
                        </td>
                        <td></td>

                    </tr>
                </tbody>
            </table>    


	    {% endfor %}
    
    
    <a href="{% url 'Logout' %}">Cerrar Sesión</a>
    <a href="{% url 'Crear_Almacen' %}">Agregar Almacén</a>
    








       

</body>
</html>
